<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElBuenVivir_Interfaz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElBuenVivir_Interfaz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ElBuenVivir_Interfaz.Properties.Settings>
            <setting name="cadena_Conexion" serializeAs="String">
                <value>Data Source = DESKTOP-N2E6F2F;Initial Catalog=ELBUENVIVIR_DB;Integrated Security = True</value>
            </setting>
        </ElBuenVivir_Interfaz.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ElBuenVivir_Interfaz.Properties.Settings>
            <setting name="role_Usuario" serializeAs="String">
                <value>admin</value>
            </setting>
        </ElBuenVivir_Interfaz.Properties.Settings>
    </userSettings>
</configuration>